




body {
	background-color: #0d0d0d !important;
}


h2, h3 {
	color: #DD9630;
	font-weight: 700;
}



.hero-image {
	background-image: url("../images/codbo4hi.jpg");
	padding: 8rem 0;
	background-size: cover;
	background-position: center center;
}


.hero-image h1 {
	text-align: center;
	font-size: 60px;
	color: #de9833;
	text-shadow: 4px 4px 4px black;
	font-weight: 900;
}

.hero-image h2 {
	text-align: center;
	font-size: 30px;
	color: #de9833;
	text-shadow: 4px 4px 4px black;
	font-weight: 900;
}

.cardlink {
	font-weight: 600;
	display: block;
	  width: 100%;
		background-color: #9A85C5;
		border-radius: 2rem 2rem 0 0;
		text-decoration: none;
		color: white;

}

.cardlink:hover {
	text-decoration: none;
	background-color: #FAFAFB;
	color: #6444A4;
}



.cardlink2 {
	font-weight: 600;
	display: block;
	  width: 100%;
		background-color: #1E84B2;
		border-radius: 2rem 2rem 0 0;
		text-decoration: none;
		color: #14244C;

}

.cardlink2:hover {
	text-decoration: none;
	background-color: #676E85;
	color: white;
}








.card-thumbnail {
	border-radius: 3rem;
	width: 50px;
	margin-top: 5px;
}


a.news {
	display: block;
	padding: 1rem 0;
	color: #34302D;
	background-color: #DD9630;
	font-size: 20px;
	font-weight: 800;

}

a.news:hover {
	display: block;
	text-decoration: none;
	background-color: #34302D;
	color: #DD9630;

}


/* Smaller Phone CSS Adjustment */
@media only screen 
  and (min-width: 320px) {

		.hero-image h1 {
			font-size: 40px;
		}

		.hero-image h2 {
			font-size: 20px;
		}


	.card-thumbnail {
		margin-top: 5px;
	}

	  body h1 {
		font-size: 35px;
	}

	.social {
		color: #963F1B;
	}

	.social:hover {
		color: #DD9630;
	}
	  
}








/* Tablet CSS Adjustment */
@media only screen 
  and (min-width: 768px) {

		.hero-image h1 {
			font-size: 40px;
		}

	.card-thumbnail {
		margin-left: 20px;
	}
	

	body h1 {
		font-size: 50px;
	}

}




/* Laptop and bigger Adjustment */

@media screen 
  and (min-width: 1200px) { 
	
		.hero-image h1 {
			font-size: 70px;
		}

		.hero-image h2 {
			font-size: 50px;
		}

		.card-thumbnail {
			margin-left: 10px;
		}


	body h1 {
		font-size: 50px;
	}

}